name: PR Build
# This workflow is triggered on pull requests to build the project and upload artifacts.
# Different from the main build workflow, this one does not push the image to the registry.
on:
  pull_request:
    branches: [ "master", "main" ]
    paths-ignore:
      - docs/**
      - .github/**
      - README.md
      - LICENSE
      - .*ignore
      - "**.md"
      - .gitattributes
      - .editorconfig
      - .gitmodules
      - .idea/**
      - .vscode/**
      - distribution/**
permissions: write-all
jobs:
  build:
    runs-on:
      ubuntu-latest
    timeout-minutes: 360 # 6 hours
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: 17
          distribution: 'zulu'
      - name: Setup Docker
        uses: docker/setup-docker-action@v4
        with:
          daemon-config: |
            {
              "debug": true,
              "features": {
                "containerd-snapshotter": true
              }
            }
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4
        with:
          build-scan-publish: false
      - name: Generate CI Version
        run: |
          chmod +x gradlew
          version=$(./gradlew -q -Dci=true :version)
          echo "version_name=${version}" >> $GITHUB_ENV
        id: project_version
      - name: Install Dependencies
        run: |
          git clone https://github.com/roll-w/web-common-starter 
          cd web-common-starter
          git checkout v0.2.1
          mvn -f web-common-parent/ clean install
          cd ..
      - name: Install Frontend Dependencies
        run: |
          cd lampray-frontend
          pnpm install
      - name: Build
        run: |
          chmod +x gradlew
          ./gradlew -Dci=true -PbuildFrontend=true packageImageMultiArch
      - name: Upload Dist
        uses: actions/upload-artifact@v4
        with:
          # Upload the built distribution but not pushed the image to the registry,
          # as this is a PR build and we don't want to push images for PRs.
          name: lampray-${{ env.version_name }}-dist
          path: build/dist/lampray-${{ env.version_name }}-dist.tar.gz
          compression-level: 0
          retention-days: 10 # Retain for 10 days, as this is a PR build and we don't need to keep it long-term.
      - name: Upload Image Archives (Amd64)
        uses: actions/upload-artifact@v4
        with:
          name: lampray-${{ env.version_name }}-amd64-image
          path: build/dist/lampray-${{ env.version_name }}-amd64-image.tar.gz
          compression-level: 0
          retention-days: 10
      - name: Upload Image Archives (Arm64)
        uses: actions/upload-artifact@v4
        with:
          name: lampray-${{ env.version_name }}-arm64-image
          path: build/dist/lampray-${{ env.version_name }}-arm64-image.tar.gz
          compression-level: 0
          retention-days: 10
      - name: Output Result
        run: |
          echo "# Build Summary" >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
          echo '- Version: `${{ env.version_name }}`' >> $GITHUB_STEP_SUMMARY
          echo '' >> $GITHUB_STEP_SUMMARY
